.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
*.canvas
content/Untitled 1.md
content/.stversions/
content/.trash/
*.xcf
content/Untitled 2.md
content/Untitled 3.md
/content/.smart-connections
content/temp 2.md
/content/.stfolder
/docs
/content/Omnivore
